# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Next
.next/
out/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db
